:root {
  --color-1: #3D5A80;
  --color-2: #7CDEDC;
  --color-3: #E0FBFC;
  --color-4: #4e5157;
  --color-5: #2e2f33;
  --color-6: rgb(126, 139, 139);
}

.ws-title {
    color: var(--color-1);
    font-size: 30px;
    font-style: italic;
    padding-left: 10px;
}

.title {
    border-bottom: 5px solid #7CDEDC;
}