.blurb {
    background: var(--color-6);
    color: var(--color-2);
    margin: 30px;
    padding: 10px;
}

.abt-me-title {
    font-size: 25px;
    text-align: left;
}

.abt-me-text {
    font-size: 15px;
    text-align: center;
}