:root {
  --color-1: #82B0B3;
  --color-2: #5C7C7C;
  --color-3: #AABCC3;
  --color-4: #D1D5DC; 
  --color-5: #F3E5E6;
  --color-6: #ffffff;
}

/* Fonts */
@font-face {
    font-family: "Aileron";
    src: url("fonts/aileron.light-italic.otf");
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  text-align: center;
  padding: 10px;
}

.ws-title {
  grid-column: 1 / 2;
  text-align: left;
}

.nav {
  grid-column: 2 / -1;
  grid-row: 1;
  align-content: center;
}

.show-case {
  grid-column: 1 / -1;
}

.blurb {
  grid-column: 1 / 2;
}

@media only screen and (max-width: 1050px) {

  .App {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    text-align: center;
    padding: 10px;
  }
  
  .nav {
    grid-column: 1;
    grid-row: 3;
    padding-left: 50px;
    padding-right: 50px;
    align-content: center;
  }

  .abt-me-text {
    text-align: center;
  }
}